


<div class="incompatible-screen">
	<div class="row">
		<div class="small-12 columns text-center" style="padding-top:100px;">
			<div class="incompatible-text">INCOMPATIBLE</div>
		
			<%= link_to "REQUEST TRADE", trade_path(:player => @player, :band => @band, :compBand => @compBand, :bandRound => @round, :compBandRound => @compBandRound), class:'button' %> <br />	

			<%= link_to "EXECUTE TRADE", calculate_trade_path(:player => @player.to_i, :band => @band.to_i, :compBand => @compBand.to_i, :bandRound => @round.to_i, :compBandRound => @compBandRound.to_i), class:'button'  %>
		
			<%= link_to "<< Back to Draft", livedraft_path, class:'it-link' %>
		
		</div>
	</div>
</div>