


<div class="incompatible-screen">
	<div class="row">
		<div class="small-12 columns text-center" style="padding-top:100px;">
			<div class="incompatible-text">INCOMPATIBLE</div>
			<%= link_to "<< Back to Draft", livedraft_path, class:'it-link' %>
		
		</div>
	</div>
</div>