<div id="livePlayerPicture">
	<div class="row">
		<div class="small-8 columns small-centered text-center">
			<%= link_to "Test Compatibility", livedraft_path(:liveplayer => @player.number), class: 'button tiny' %>
			<h1><%= @player.name %></h1>
			<p>
        <img src='<%= "#{@player.back_image}" %>'>
      </p>
			
		</div>
	</div>
</div>